@import url(header.css);
* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(235, 235, 235);
}


/*
* =============================
*   ARMAS LEGALES SECTION
* =============================
*/

#armasLegales h2 {
    font-size: 50px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: #829FD9;
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(44, 44, 44, .8);
}

#armasLegales h5 {
    text-align: center;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}

#armasLegales .card {
    margin: 0px 5px 10px 0px;
    width: 100%;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, .5);
}

#armasLegales img {
    width: 100%;
    height: 160px;
}


/*
* =============================
*/


/*
* =============================
*   BUSCAR MULTAS SECTION
* =============================
*/

#buscarMultasSeccion {
    text-align: center;
}


/*#buscarMultasSeccion input*/

.buscador {
    margin: 10px 0px 20px auto;
    width: 90%;
    border-radius: 50px;
    border: none;
    padding: 10px;
}

#buscarMultasSeccion button {
    border: none;
    padding: 5px;
    background-color: #1A2526;
    color: white;
    border-radius: 50px;
}

#buscarMultasSeccion button:hover {
    background-color: rgb(34, 48, 49);
}

#buscarMultasSeccion .card {
    margin: 10px 0px 10px auto;
}

#buscarMultasSeccion .card button {
    width: 150px;
}

#buscarMultasSeccion .card .card-header {
    font-size: 25px;
}

#buscarMultasSeccion span {
    width: 25px;
}

#contenidoMultasBuscadas .card {
    padding: 0;
}


/*
* =============================
*/


/*
* =============================
*   MULTAS DISPONIBLES SECTION
* =============================
*/

#multas {
    height: 500px;
    overflow: scroll;
}

#multasDisponibles,
#calcularMultas {
    text-align: center;
}

#multasDisponibles a {
    width: 150px;
    background-color: #0067d4;
}

#multasDisponibles a:hover {
    background-color: #026ee0;
}

#multasDisponibles h3 {
    color: #829FD9;
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
}

#multasDisponibles button {
    border: none;
    padding: 5px;
    width: 150px;
    background-color: #1A2526;
    color: white;
    border-radius: 50px;
}

#multasDisponibles button:hover {
    background-color: rgb(34, 48, 49);
}

.inputCantidadMultas {
    width: 50px;
}

.btn {
    width: 200px;
    margin-top: 10px;
}

.card {
    width: auto;
    margin: 5px;
}

.card .card-header {
    font-size: 25px;
}


/*
* =============================
*/


/*
* =============================
*   CALCULAR MULTAS SECTION
* =============================
*/

#botonAtenuar,
#botonNoCoopera {
    width: auto;
    border-radius: 100%;
}

#botonCalcularMultas {
    width: 200px;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    border: none;
    background-color: #2039CC;
    border-radius: 4px;
    color: white;
}

#calcularMultas h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    margin-top: 25px;
}

#calcularMultas .card .card-header {
    font-size: 1em;
}

#botonCalcularMultas:hover {
    background-color: rgb(26, 49, 175);
}

#total input {
    margin-top: 10px;
    width: 150px;
    height: 35px;
}

#total p {
    margin-top: 30px;
}

#parrafoTotal {
    margin-top: -80%;
    max-height: 500px;
    overflow: scroll;
}

#drogaBoton {
    width: 40px;
    padding: 5px;
    line-height: 25px;
    margin-left: 5px;
    border: none;
    background-color: #2039CC;
    border-radius: 4px;
    color: white;
}

#drogaInput {
    max-width: 100px;
}

#total .multasParrafoTotal {
    font-size: 1.2em;
    text-align: left;
    margin-top: -7px;
}

#resultado {
    height: auto;
    max-height: 150px;
    overflow: scroll;
}

#modal-body {
    text-align: center;
}

#polcad button {
    margin: auto;
}

.quitarMulta {
    font-size: 17px;
    color: #7F0000;
    border: none;
}

.quitarMulta:active {
    color: beige;
}

#total .col-md-2 {
    background: none;
    height: 50%;
}

#total button[type="button"] {
    max-width: 200px;

    margin: auto;
}

#dropdownAgentes {
    margin-bottom: 10px;
    
    cursor: pointer;

    width: 200px;

    /*border: 0;
    padding: 10px;
    color: white;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #0d81fd;
    -webkit-appearance: none;
    background-position-x: 170px;*/
    
}

.flex {
    display: flex;
}

.alinearCentro {
    align-self: center;
}


/*
* =============================
*/


/*
* =============================
*   ICONOS DE SUBIDA Y BAJADA RÁPIDA
* =============================
*/

.iconoTienda,
.iconoCalculadora {
    margin-right: 5px;
}


/*
* =============================
*   MEDIAQUERIES
* =============================
*/

@media (min-width: 1200px) {
    #parrafoTotal {
        margin-top: -70%;
        max-height: 500px;
        overflow: scroll;
    }
}

@media (min-width: 992px) and (max-width: 1999px) {
    #parrafoTotal {
        margin-top: -90%;
        max-height: 500px;
        overflow: scroll;
    }
}

@media (max-width: 768px) {
    #parrafoTotal {
        margin-top: -110%;
        max-height: 500px;
        overflow: scroll;
    }
}