* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imgs/coche-fondo.jpg);
}

h2 {
    font-size: 50px;
    padding: 10px;
    margin-top: 15px;

    color: #829FD9;
    font-family: 'Bebas Neue', cursive;

    background-color: rgb(44, 44, 44, .8);
    border-radius: 5px;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    
    margin-top: 25px;
}

header nav ul li a {
    padding: 10px;
    color: white;
    font-size: 20px;
}

header nav ul li a:hover {
    padding: 10px;
    color: rgb(209, 206, 206);
    font-size: 20px;

    text-decoration: none;
}

header nav ul {
    width: 100%;
    text-align: center;
}

header nav {
    height: 100%;
    
}

header {
    position: relative;
    height: 90px;
    width: 100%;
    background-color: rgb(44, 44, 44);
}

#contenido {
    width: 100%;
}

#multasDisponibles, #calcularMultas {
    text-align: center;
}

#multasDisponibles button {
    border: none;
    padding: 5px;

    background-color: #080E33;
    color: white;

    border-radius: 4px;
}

#multasDisponibles button:hover {
    background-color: rgb(16, 25, 95);
}

.btn {
    width: 200px;

    margin-top: 10px;
}

.multa {
    width: 100%;
}

.multa button {
    width: 200px;
}

.multa .card {
    width: auto;
    margin: 5px;
}

.multa .card .card-header {
    font-size: 25px;
}

#calcularMultas button {
    width: 200px;

    margin: 10px 0px 10px 0px;
    padding: 5px;

    border: none;
    background-color: #2039CC;
    border-radius: 4px;

    color: white;
}

#calcularMultas button:hover {
    background-color: rgb(26, 49, 175);
}

/*#parrafoTotal {

    padding: 5px;
    border-radius: 5px;

    color: white;

    background-color: rgb(44, 44, 44, .7);
}*/

.iconoSubir {
    position: fixed;
    right: 0;
    top: 80%;
    z-index: 2000;
}

.iconoBajar {
    position: fixed;
    right: 0;
    top: 85%;
    z-index: 2000;
}

.iconoSubir, .iconoBajar {
    margin-right: 10px;
}

.iconoSubir a, .iconoBajar a {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: end;
    text-decoration: none;
}

.iconoSubir a:hover, .iconoBajar a {
    text-decoration: none;
}

.iconoTienda,
.iconoCalculadora {
    margin-right: 5px;
}